---
import BaseLayout from '../layouts/BaseLayout.astro';
import { navItems } from '../data/nav';
---

<BaseLayout title="World According to Me" navItems={navItems}>

  <header class="mb-12">
    <h1 class="text-3xl font-bold mb-6">Da Woild</h1>

    <div class="max-w-2xl border border-zinc-800 rounded-lg overflow-hidden">
      <img
        src="/images/WorldMap_UD.jpg"
        alt="True Size of Countries"
        class="w-full h-auto"
      />
    </div>
  </header>

</BaseLayout>