---
import Layout from '../layouts/Layout.astro';
import { Carousel } from '../components/Carousel';
---

<Layout title="The World according to Me">
  <header class="mb-8 text-center">
    <h1 class="text-3xl font-bold mb-4">Maps and stuff</h1>
  </header>

  <div class="mb-12">
    <Carousel client:load />
  </div>
</Layout>