---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Under Construction">
	<div class="min-h-[60vh] flex flex-col items-center justify-center text-center">
		<div class="py-10">
			<h1 class="text-6xl mb-4">🚧</h1>
			<h1 class="text-4xl font-bold mb-4">Under Construction</h1>
			<p class="text-gray-400 mb-8 text-lg">
				Still working on this part of the site. Check back soon!
			</p>
			
			<a href="/" class="back-link">
				&larr; Return to Home
			</a>
		</div>
	</div>
</Layout>
